@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --payment-terms-background-color: #fcfcfc;
    --gradient-base-background-1: #fcfcfc;
    --gradient-base-background-2: #ebeced;
    --gradient-base-accent-1: #103948;
    --gradient-base-accent-2: #103948;
    --banner-bg: #c0b8b8da;
    ---speed: 500ms;
}

@font-face {
    font-family: "Electra";
    src: url("../public/fonts/electra.otf");
}

/* CSStransition classes */
.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active,
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  